@font-face {
    font-family: BalooThambi2-Regular;
    src: url(../font/BalooThambi2-Regular.ttf);
}

@font-face {
    font-family: Oswald-Stencil;
    src: url(../font/Oswald-Stencil.ttf);
}

@font-face {
    font-family: Monoton-Regular;
    src: url(../font/Monoton-Regular.ttf);
}